server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
        http:

compactor:
  compaction:
    compaction_window: 1h
    max_block_bytes: 100_000_000
    block_retention: 1h
    compacted_block_retention: 10m

storage:
  trace:
    backend: local                                        # backend configuration to use
    wal:
      path: /tmp/tempo/wal                                # where to store the the wal locally
    local:
      path: /tmp/tempo/blocks                             # where to store the the blocks locally

overrides:
  metrics_generator_processors: [service-graphs, span-metrics]
